@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;                /* Width of the scrollbar */
    height: 12px;               /* Height for horizontal scrollbar */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #D6BD98;        /* Light gray background */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #1A3636;     /* Darker gray for the handle */       /* Rounder corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;           /* Darker color on hover */
}